# dependencies
node_modules/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# virtual environments
venv/
.venv/
env/

# fastapi / python env
.python-version

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# macOS
.DS_Store

# windows
Thumbs.db

# vscode
.vscode/

# coverage
coverage/
htmlcov/

# typescript
*.tsbuildinfo

# testing
.pytest_cache/

# mypy
.mypy_cache/

# cache
.cache/

# idea
.idea/

# temporary
tmp/
temp/